.container{
    height: 100vh; /*Ajustando horizontamente, completo*/
    display: flex; /*Trabalhar com flexbox*/
    justify-content: center; /*centralizando no meio da tela*/
    align-items: center;  /*centralizando no meio da tela*/
    flex-direction: column; /*centralizando os item em coluna, não um ao lado do outro*/
    background: linear-gradient(#121212, #212b46);
    }
    
    .title{
    font-size: 85px;
    color: #FFF;
    animation: flipTitle 2s;
    }
    
    /*Esta animação é bem legal, vai fazer girar o titulo*/
    @keyframes flipTitle {
    from{
    transform: rotateX(90deg)
    }
    to{
    transform: rotateX(0deg)
    }
    }
    
    .containerInput{
    background-color: rgba(255,255,255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex; /*Para ficar um ao lado do outro*/
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0,0,0, 0.5);
    }
    .containerInput input{ /*Dentro da tag de input*/
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #FFF;
    outline: none; /*Desabilitar, margem interna do input*/
    margin-right: 8px;
    }
    
    .containerInput input::placeholder{ /*Acessando nosso placeholder do input*/
    color: #F1f1f1;
    }
    .buttonSearch{
    background-color: transparent;
    border: 0;
    display: flex; /*Alinhar ele no centro conforme nosso container input*/
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
    }
    
    .buttonSearch:hover{
    transform: scale(1.2)
    }
    
    .main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*Ficando um item abaixo do outro*/
    background-color: white;
    width: 500px;
    border-radius: 8px;
    }
    
    .main h2 {
    margin: 16px 0;
    font-size: 39px;
    }
    
    .main span{
    margin-bottom: 16px;
    font-weight: bold;
    }
    
    @media (max-width: 620px) {
        .title{
        font-size: 60px;
        }
        .main h2{
        font-size: 28px;
        }
        .main{
        width: 80%;
        min-height: 250px;
        }
      }
      .footer{
      color: white;
      text-align: center;
      font-style: italic;
      animation: flipRodape 2s;
      }
     
        /*Esta animação é bem legal, vai fazer girar o titulo*/
        @keyframes flipRodape {
        from{
        transform: rotateX(90deg)
        }
        to{
        transform: rotateX(0deg)
        }
        }